{% extends '_layout/base.html' %}

{% block content %}
<div class="page-header">
  <h1>
    Results
  </h1>
</div>

{% if results %}
<table class="table table-striped" id="results-table">
  <thead>
    <tr>
      <th>Constituency</th>
      <th>Winning party</th>
      <th>Winning party votes</th>
      <th>Total votes cast</th>
      <th>Share</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
      <tr>
        <td>{{result.Constituency.name}}</td>
        {% if result.Voting %}
          <td>{{result.Voting.party.name}}</td>
          <td>{{result.max_vote_count}}</td>
          <td>{{result.total_votes_count}}</td>
          <td>{{
            '%.1f'
            | format(100 * result.max_vote_count /  result.total_vote_count)
          }}%</td>
        {% else %}
          <td>&mdash;</td>
          <td>&mdash;</td>
          <td>&mdash;</td>
          <td>&mdash;</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="panel-body" id="no-results">
  <div class="text-center">There are currently no results.</div>
</div>
{% endif %}

{% endblock %}
