{% extends '_layout/base.html' %}

{% block content %}
<div class="page-header">
  <h1>
    {{collection.name}}
    <small>{{collection.description}}</small>
  </h1>
</div>

<form method="POST"
  action="{{url_for('ui.collection', id=collection.id)}}">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Details</h3></div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-name" class="control-label">Name</label>
            <input type="text" autofocus class="form-control" id="input-name"
              name="name" placeholder="12FR34" required
              value="{{collection.name}}">
          </div>
        </div>
        <div class="col-sm-7">
          <div class="form-group">
            <label for="input-description" class="control-label">Description</label>
            <input type="text" class="form-control" id="input-description"
              name="description" placeholder="Quad frobnicator"
              value="{{collection.description}}">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="input-count" class="control-label">Count</label>
            <input type="number" min="0" required class="form-control"
              id="input-count" name="count"
              value="{{collection.content_count}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-cabinet" class="control-label">Cabinet</label>
            <select class="form-control" id="cabinet-select">
              <option value="none"
                {% if not collection.drawer %}selected{% endif %}>None</option>
              {% for cab in cabinets %}
              <option value="cab_{{cab.id}}"
                  {% if collection.drawer and collection.drawer.cabinet.id == cab.id %}selected{% endif %}>
                {{cab.name}}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-drawer" class="control-label">Drawer</label>
            <select class="form-control" name="drawer"
              id="drawer-select" disabled></select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="input-tags" class="control-label">Tags</label>
            <div class="tagsinput-wrapper">
              <select multiple id="input-tags" class="form-control" name="tags">
                {% for tag in collection.tags %}
                  <option selected value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-edit"></span>
        Update
      </button>
      <button type="button" class="btn btn-danger" data-toggle="modal"
          data-target="#modal-delete">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      </button>
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Links</h3></div>

  {% if collection.resource_links %}
    <ul class="list-group">
      {% for link in collection.resource_links | sort(attribute='name') %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-10 col-sm-11">
              <a href="{{link.url}}" target="_blank">
                {{link.name}}
                <div><small class="text-muted">{{link.url}}</small></div>
              </a>
            </div>
            <div class="col-xs-2 col-sm-1 text-right">
              <form method="POST"
                action="{{url_for('ui.link_delete', id=link.id)}}">
                <button type="submit" class="btn btn-link">
                  <span class="text-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="sr-only">Delete</span>
                  </span>
                </button>
              </form>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="panel-body">
      <div class="text-center">No links</div>
    </div>
  {% endif %}

  <form method="POST" action="{{url_for('ui.link_create')}}">
    <input type="hidden" name="collection_id" value="{{collection.id}}">
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-3">
          <input class="form-control" list="names" type="text"
            placeholder="Name" required name="name">
          <datalist id="names">
            <option value="Datasheet">
          </datalist>
        </div>
        <div class="col-sm-7">
          <input class="form-control" type="yrl"
            placeholder="http://example.com/" required name="url">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default form-control">
            <span class="glyphicon glyphicon-plus"></span>
            Add link
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you wish to delete collection "{{collection.name}}".
          <strong>This action cannot be undone.</strong>
        </p>
      </div>
      <div class="modal-footer">
        <form method="POST"
          action="{{url_for('ui.collection_delete', id=collection.id)}}">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Do not delete
          </button>
          <button type="submit" class="btn btn-danger">
            Delete collection "{{collection.name}}"
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='ui/js/collection_create.js')}}"></script>
<script src="{{url_for('static', filename='ui/js/typeahead.bundle.js')}}"></script>
<script src="{{url_for('static', filename='ui/js/bootstrap-tagsinput.min.js')}}"></script>
<script>
var DRAWER_DATA = {{ drawers | tojson }};
var CURRENT_DRAWER = {{ collection.drawer.id | default('null') }};

$(document).ready(function() {
  var tagData = {{ tag_data | tojson }};
  var tagBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: tagData.tags
  });
  tagBloodhound.initialize();
  $('#input-tags').tagsinput({
    typeaheadjs: { source: tagBloodhound.ttAdapter() },
  });
});

</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='ui/css/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='ui/css/typeahead.css')}}">
{% endblock %}
