{% extends '_layout/base.html' %}

{% block content %}
<div class="page-header">
  <h1>
    Seat totals
  </h1>
</div>

{% if not results %}
<div class="panel-body">
  <div class="text-center">There are currently no results.</div>
</div>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Party</th>
      <th>Seats</th>
    </tr>
  </thead>
  <tbody>
    {% for party, constituency_count in results %}
      <tr>
        <td>{{ party.name }}</td>
        <td>{{ constituency_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
